<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="YouTube.APIKey" value="" />
    <add key="ChannelIDs" value="" />
    <add key="Keywords" value="unarchive, no archive" />
    
    <add key="OBS.FilePath" value="C:\Program Files\OBS-Studio\bin\64bit\obs64.exe" />
    <add key="OBS.URL" value="ws://127.0.0.1:4455" />
    <add key="OBS.Password" value="" />
    <add key="OBS.SceneName" value="StreamRecorder" />
    <add key="OBS.SourceName" value="Browser" />
    
    <add key="StartBufferMinutes" value="1" />
    <add key="SkipEndCheckMinutes" value="30" />
    <add key="CheckPollingMinutes" value="1" />
  </appSettings>
</configuration>
